html{
	height: auto;
}

body {
	min-width:300px;
	min-height: 300px;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif
}



hr{
	border: solid;
	border-radius: 10px;
	border-color: #808080;
	border-width: .5px;
	
}

.heading{
	display: flex;
	justify-content: center;
}

h1{
	font-size: 10vw;
}

h2{
	font-size: 5vw;
}

.heading > img{
	max-height: 48px;
	height: auto;
}


#title{
	margin: 0 10%;
	align-self: center;
	color: #000000;
	font-weight: bold;
}



#current_tabs_text{
	justify-self: center;
}

/* List */

ul{	
	display:flex;
	flex-direction: column;
	justify-content: center;
  
}

ul li{
	display: list-item;
	padding: 5px 10px;
	margin: 0 3px;
}

/* Buttons */
.delete-button {
	border: none;
	background: transparent;
	
	cursor: pointer; /* Optional: Change the cursor to a pointer */
	font-size: 1em; /* Optional: Adjust the font size */
	margin-left: 10px; /* Keep the margin-left */
}

button {
	font-family: inherit;
	border-radius: 7px;
	padding: 5px;
	cursor: pointer;
}

.buttonDiv {
	position: relative;
	bottom: 10px; /* Adjust as needed */
	left: 7%;
	right: 10%;
	display: flex;
	justify-content: space-evenly;
	width: 85%;
	margin-top: 20px; /* Add top margin to prevent collision */
	padding: 10px; /* Add padding for better spacing */
	
}

/* Style for the settings button */
#back-button {
	position: absolute;
	right: 35%;
	bottom: 20px;
}

#start-test{
	background-color: #D2D2D2;
}